<div class="container">
    <h1>Stoneybrook of Palmer Ranch - April 23, 2023</h1> 
    <div class="form-check">
        <form id="golfSignup">
            <div><strong style="font-size:30px;">Golf Sign Up</strong></div>
            <br />
            <div class="alert alert-danger" role="alert" style="font-size:20px;display:none;width:700px;" id="invalidForm">
                Please correct form errors to submit your registration.
            </div>
            <fieldset>
                <legend>Please choose participation level and complete information below:</legend>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="scarlet" value="scarlet" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="scarlet"><strong>Scarlet Sponsor</strong> (${{GOLF.scarletPrice}}) includes Hole Sponsorship, 4 golfers, lunch (4) and 12 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="gray" value="gray" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="gray"><strong>Gray Sponsor</strong> (${{GOLF.grayPrice}}) includes Hole Sponsorship, 2 golfers, lunch (2) and 6 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="single" value="single" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="single"><strong>Single</strong> (${{GOLF.singlePrice}}) includes lunch and 3 raffle tickets</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="holeSponsor" value="holeSponsor" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="holeSponsor"><strong>Hole Sponsor</strong> (${{GOLF.holeSponsorPrice}}) does not include lunch or golf</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="participation" id="lunchOnly" value="lunchOnly" (click)="calculateTotalCost()"><span style="padding-left:5px;"><label for="lunchOnly"><strong>Lunch Only</strong> (${{GOLF.lunchPrice}}) does not include golf</label></span>
                </div>
            </fieldset>
            <div class="alert alert-danger" style="font-size:15px;display:none;width:300px;" id="invalidParticipation">
                Please choose your participation.
            </div>
            <hr />
            <div *ngIf="holeSponsor"><strong style="font-size:20px">Thank you for sponsoring a hole!</strong><br /><hr/></div>
            <div *ngIf="participation === 'holeSponsor' || participation === 'lunchOnly'">
                Please enter your contact information:
                <br /><br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name1">Name:</label>
                        <input type ="text" id="name1" class="form-control" (change)="invalidName = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address1">Mailing Address:</label>
                        <input type ="text" id="address1" class="form-control" (change)="invalidAddress = false;">
                    </div>
                </div>
                <div class="row" id="invalidNameAddress" *ngIf="invalidName || invalidAddress">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;" >
                            <ng-container *ngIf="invalidName">Enter your name.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidAddress">Enter your address.</ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="city1">City:</label>
                        <input type ="text" id="city1" class="form-control" (change)="invalidCity = false;">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="state1">State:</label>
                        <select class="form-control" id="state1">
                            <option value="FL">Florida</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip1">Zip:</label>
                        <input type ="text" id="zip1" class="form-control" (change)="invalidZip = false;">
                    </div>
                </div>
                <div class="row" id="invalidCityStateZip" *ngIf="invalidCity || invalidZip">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidCity">Enter your city.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidZip">Enter your zip.</ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="email1">Email Address:</label>
                        <input type ="email" id="email1" class="form-control" (change)="invalidEmail = false">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phone1">Phone Number:</label>
                        <input type ="text" id="phone1" class="form-control" (change)="invalidPhone = false">
                    </div>
                </div>
                <div class="row" id="invalidEmailPhone" *ngIf="invalidEmail || invalidPhone">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidEmail">Enter your email.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidPhone">Enter your phone number.</ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="totalGolfers > 0">
                Please enter details for {{totalGolfers}} golfers:
                <br />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (1) <label for="name1">Name:</label>
                        <input type ="text" id="name1" class="form-control" (change)="invalidName = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address1">Mailing Address:</label>
                        <input type ="text" id="address1" class="form-control" (change)="invalidAddress = false;">
                    </div>
                </div>
                <div class="row" id="invalidNameAddress" *ngIf="invalidName || invalidAddress">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;" >
                            <ng-container *ngIf="invalidName">Enter your name.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidAddress">Enter your address.</ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="city1">City:</label>
                        <input type ="text" id="city1" class="form-control" (change)="invalidCity = false;">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="state1">State:</label>
                        <select class="form-control" id="state1">
                            <option value="FL">Florida</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip1">Zip:</label>
                        <input type ="text" id="zip1" class="form-control" (change)="invalidZip = false;">
                    </div>
                </div>
                <div class="row" id="invalidCityStateZip" *ngIf="invalidCity || invalidZip">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidCity">Enter your city.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidZip">Enter your zip.</ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="email1">Email Address:</label>
                        <input type ="email" id="email1" class="form-control" (change)="invalidEmail = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phone1">Phone Number:</label>
                        <input type ="text" id="phone1" class="form-control" (change)="invalidPhone = false;">
                    </div>
                </div>
                <div class="row" id="invalidEmailPhone" *ngIf="invalidEmail || invalidPhone">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidEmail">Enter your email.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidPhone">Enter your phone number.</ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="totalGolfers > 1">
                <hr />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (2) <label for="name2">Name:</label>
                        <input type ="text" id="name2" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address2">Mailing Address:</label>
                        <input type ="text" id="address2" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="city2">City:</label>
                        <input type ="text" id="city2" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="state2">State:</label>
                        <select class="form-control" id="state2">
                            <option value="FL">Florida</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip2">Zip:</label>
                        <input type ="text" id="zip2" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="email2">Email Address:</label>
                        <input type ="email" id="email2" class="form-control" (change)="invalidEmail2 = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phone2">Phone Number:</label>
                        <input type ="text" id="phone2" class="form-control" (change)="invalidPhone2 = false;">
                    </div>
                </div>
                <div class="row" id="invalidEmailPhone2" *ngIf="invalidEmail2 || invalidPhone2">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidEmail2">Enter your email.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidPhone2">Enter your phone number.</ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="totalGolfers > 2">
                <hr />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (3) <label for="name3">Name:</label>
                        <input type ="text" id="name3" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address3">Mailing Address:</label>
                        <input type ="text" id="address3" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="city3">City:</label>
                        <input type ="text" id="city3" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="state3">State:</label>
                        <select class="form-control" id="state3">
                            <option value="FL">Florida</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip3">Zip:</label>
                        <input type ="text" id="zip3" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="email3">Email Address:</label>
                        <input type ="email" id="email3" class="form-control" (change)="invalidEmail3 = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phone3">Phone Number:</label>
                        <input type ="text" id="phone3" class="form-control" (change)="invalidPhone3 = false;">
                    </div>
                </div>
                <div class="row" id="invalidEmailPhone3" *ngIf="invalidEmail3 || invalidPhone3">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidEmail3">Enter your email.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidPhone3">Enter your phone number.</ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="totalGolfers > 3">
                <hr />
                <br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (4) <label for="name4">Name:</label>
                        <input type ="text" id="name4" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="address4">Mailing Address:</label>
                        <input type ="text" id="address4" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="city4">City:</label>
                        <input type ="text" id="city4" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="state4">State:</label>
                        <select class="form-control" id="state4">
                            <option value="FL">Florida</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip4">Zip:</label>
                        <input type ="text" id="zip4" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="email4">Email Address:</label>
                        <input type ="email" id="email4" class="form-control" (change)="invalidEmail4 = false;">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="phone4">Phone Number:</label>
                        <input type ="text" id="phone4" class="form-control" (change)="invalidPhone4 = false;">
                    </div>
                </div>
                <div class="row" id="invalidEmailPhone4" *ngIf="invalidEmail4 || invalidPhone4">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" style="font-size:15px;">
                            <ng-container *ngIf="invalidEmail4">Enter your email.</ng-container>&nbsp;&nbsp;
                            <ng-container *ngIf="invalidPhone4">Enter your phone number.</ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <ng-container *ngIf="totalCost > 0">
                <fieldset>
                    <ng-container *ngIf="participation==='holeSponsor'; else lunch">
                        <legend>You are not signed up for lunch.  Would you like to sign up?</legend>
                    </ng-container>
                    <ng-template #lunch>
                        <legend><ng-container *ngIf="skippingGolf; else golfing">You are</ng-container><ng-template #golfing>Each golfer is</ng-template> signed up for a lunch.  Would you like to sign others up for lunch (${{GOLF.lunchPrice}}/each)?</legend>
                    </ng-template>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="extraLunch" id="lunchYes" value="lunchYes" (click)="showExtraLunch()"><span style="padding-left:5px;"><label for="lunchYes">Yes</label></span>
                </div>
                <div style="padding-bottom:5px;">
                    <input type="radio" name="extraLunch" id="lunchNo" value="lunchNo" (click)="hideExtraLunch();calculateTotalCost();"><span style="padding-left:5px;"><label for="lunchNo">No</label></span>
                </div>
                </fieldset>
                <hr />
            </ng-container>
            <div *ngIf="extraLunch">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (1) <label for="lunch1">Name:</label>
                        <input type ="text" id="lunch1" class="form-control" (change)="calculateTotalCost()">
                    </div>
                    <div class="form-group col-md-3">
                        (2) <label for="lunch2">Name:</label>
                        <input type ="text" id="lunch2" class="form-control" (change)="calculateTotalCost()">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        (3) <label for="lunch3">Name:</label>
                        <input type ="text" id="lunch3" class="form-control" (change)="calculateTotalCost()">
                    </div>
                    <div class="form-group col-md-3">
                        (4) <label for="lunch4">Name:</label>
                        <input type ="text" id="lunch4" class="form-control" (change)="calculateTotalCost()">
                    </div>
                </div>
                <hr />
            </div>
            <div *ngIf="raffleIncluded">
                <fieldset>
                    <legend>You have {{totalRaffleTickets}} raffle tickets.  Would you to purchase more ($20 per 8 tickets)?</legend>
                    <div style="padding-bottom:5px;">
                        <input type="radio" name="extraRaffle" id="raffleYes" value="raffleYes" (click)="showExtraRaffle()"><span style="padding-left:5px;"><label for="raffleYes">Yes</label></span>
                    </div>
                    <div style="padding-bottom:5px;">
                        <input type="radio" name="extraRaffle" id="raffleNo" value="raffleNo" (click)="hideExtraRaffle();calculateTotalCost();"><span style="padding-left:5px;"><label for="raffleNo">No</label></span>
                    </div>
                </fieldset>
                <hr />
            </div>
            <div *ngIf="extraRaffle || skippingGolf">
                <strong>Raffle Tickets</strong><br /><br />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="raffle">$20 per 8 tickets:</label>
                        <select class="form-control" id="raffle" (change)="calculateTotalCost()">
                            <option value="0">Select</option>
                            <option value="8">8 tickets</option>
                            <option value="16">16 tickets</option>
                            <option value="24">24 tickets</option>
                            <option value="32">32 tickets</option>
                            <option value="40">40 tickets</option>
                            <option value="48">48 tickets</option>
                            <option value="56">56 tickets</option>
                            <option value="64">64 tickets</option>
                            <option value="72">72 tickets</option>
                            <option value="80">80 tickets</option>
                        </select>
                    </div>
                </div>
                <br />
                Total Raffle Tickets: {{totalRaffleTickets}}
                <hr />
            </div>
            <div style="font-size:20px;"><strong>Total Cost:</strong><span id="totalCost" style="padding-left:5px">${{totalCost}}</span></div>
            <hr />
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="donation">Would you like to add a donation?</label>
                    <input type ="text" id="donation" class="form-control" (blur)="calculateTotalCost()">
                </div>
            </div>
            <hr />
            <div><label for="comments">Any Additional Comments?</label><br /><textarea rows="5" cols="90" id="comments"></textarea></div>
        </form>
        <br />
        <button type="button" class="btn btn-primary" (click)="submitRegistration()">Register</button>
    </div>
    <hr />
    <br />
    <br />
</div>

