<div class="container">
    <div class="form-check">Congratulations, you have registered for the golf tournament!</div><br />
    <div class="form-check"><strong>Confirmation Number:</strong> {{golfDataService.confirmationNumber}}</div><br />
    <div class="form-check"><strong>Amount Due:</strong> ${{golfDataService.amountDue}}</div><br />
    <div class="form-check">To complete your registration, choose from these payment options:</div>
    <br />
    <div class="form-check">
        <strong>Zelle </strong>- Managed By: <br />
        John August, Club President <br />
        BuckeyeJohn[at]gmail.com <br />
        (941) 320-9795<br /><br />
        <a href="https://enroll.zellepay.com/qr-codes?data=ewogICJuYW1lIiA6ICIiLAogICJ0b2tlbiIgOiAiMTk0MTMyMDk3OTUiCn0=" target=”_blank”><img src="../assets/zelle.jpg" style="width:300px;height:280px;"><img></a>
    </div>

    <!-- <br /><hr />
    <div class="form-check">
    <strong>Pay by Credit Card / Square</strong>
    <br />
    Contact:
    <br />
    Kathy Wagenhauser, Board Member
    <br />
    ohiostnut01[at]yahoo.com
    <br />
    (301) 821-0800
    <br />
    
    </div> -->

    <br /><hr />
    <div class="form-check">
    <strong>Send a Check</strong>
    <br />
    Payable to: Sarasota Manatee OSU Alumni Club
    <br />
    Mail to Address: 
    <br />
    Tom Wagenhauser, Club Treasurer
    <br />
    7618 Heyward Circle, University Park, FL 34201
    </div>
</div>